image:
  repository: ugwuanyi/greet
  tag: 0.0.0
  pullPolicy: IfNotPresent

containerPort: 50000

service:
  enabled: true
  type: ClusterIP
  port: 10001

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: paylite-sas-checks.kloud8.ixprod-aws.ottlocal.sky
      paths:
        - path: /greet
          pathType: ImplementationSpecific
  tls:
    - secretName: ingress-tls
      hosts:
        - paylite-sas-checks.kloud8.ixprod-aws.ottlocal.sky
