greet:
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
    limits:
      cpu: 200m
      memory: 200Mi

calc:
  resources:
    requests:
      cpu: 50m
      memory: 100Mi
    limits:
      cpu: 150m
      memory: 200Mi
